.currentPostContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 50vh;
  gap: 10px;
  font-size: 25px;
  
  border: 3px solid #aaaaaa;
  border-radius: 10px;
  padding: 20px;
  margin: 50px 50px;
  background-color: #f0f078;
  box-shadow: 2px 2px 2px 0 black;

  .postCategory {
    font-weight: 900;
  }
}
